<div class="modal fade" id="<%= modal_id %>" role="dialog" aria-hidden="true" tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= title %></h4>
        <!--<p>Llena la siguiente información y estaremos en contacto contigo en cuanto antes. También estas bienvenido a contactarnos directamente a nuestras oficinas al (81) 8100-9099.</p>-->
      </div>
      <div class="modal-body">

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({ 
            portalId: '2262166',
            formId: 'b5e7701f-a9d8-4de9-a01c-9f89c7cf1287'
          });
        </script>
      </div>  
    </div>
  </div>
</div>