---
title: Conoce a Nuestro Equipo | Nimbo X
path: /about/
path_en: /about/
---

<!--Header-->

<div class="producto-header">
	<div class="container">
		<div class="row align-center margin-top">
			<div class="col-md-8 col-md-offset-2 margin-bottom">
				<h2><b>Somos Nimbo X y ayudamos a organizaciones de salud a llevar un mejor control de sus pacientes y sus datos. </b></h2>
			</div>
		</div>
	</div>
</div>

<!--Equipo-->

<div class="features">
	<div class="container">
		<div class="row margin-extratop">
			<div class="col-md-12 align-center margin-bigtop">
				<p><span class="text-lightGray"><b> EQUIPO </b></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row margin-top">
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/roy.png">
						<h4><b>RODRIGO CAMARGO</b></h4>
						<p><span class="text-green"><i>Chief Executive Officer</i></span></p>
						<a href="https://twitter.com/rcmrgo" target="__blank"><img class="img-30" src="/img/twitter3.1.png"></a><a href="https://www.linkedin.com/pub/rodrigo-camargo/35/930/461" target="__blank"><img class="img-30" src="/img/linkedin3.png"></a>
						<a href="https://github.com/rcmrgo"><img class="img-30" src="/img/github.png"></a>
					</div>
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/ben.png">
						<h4><b>BENJAMIN OROZCO</b></h4>
						<p><span class="text-teal"><i>Chief Technology Officer</i></span></p>
						<a href="https://twitter.com/benoror"target="__blank"><img class="img-30" src="/img/twitter3.1.png"></a><a href="https://mx.linkedin.com/in/benoror"><img class="img-30" src="/img/linkedin3.png"></a>
						<a href="https://github.com/benoror"target="__blank"><img class="img-30" src="/img/github.png"></a>
					</div>
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/esteban.png">
						<h4><b>ESTEBAN LARA</b></h4>
						<p><span class="text-purple"><i>Software Engineer</i></span></p>
						<a href="https://twitter.com/esnilara"target="__blank"><img class="img-30" src="/img/twitter3.1.png"></a><a href="https://mx.linkedin.com/pub/esteban-lara/100/446/132/en"target="__blank"><img class="img-30" src="/img/linkedin3.png"></a>
						<a href="https://github.com/esnilara"><img class="img-30" src="/img/github.png"></a>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/sifu.png">
						<h4><b>LUIS SIFUENTES</b></h4>
						<p><span class="text-blue"><i>Software Engineer</i></span></p>
						<a href="https://twitter.com/lsifu"target="__blank"><img class="img-30" src="/img/twitter3.1.png"></a>
						<a href="https://github.com/luissifu"target="__blank"><img class="img-30" src="/img/github.png"></a>
					</div>
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/diego.png">
						<h4><b>DIEGO SOLANO</b></h4>
						<p><span class="text-orange"><i>Software Engineer</i></span></p>
						<a href="https://mx.linkedin.com/in/diego-sebastian-solano-esquer-57557b101"target="__blank"><img class="img-30" src="/img/linkedin3.png"></a>
						<a href="https://github.com/LuckyMagpie"target="__blank"><img class="img-30" src="/img/github.png"></a>
					</div>
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/jl.png">
						<h4><b>JORGE CAMARGO</b></h4>
						<p><span class="text-yellow"><i>Co-Founder</i></span></p>
						<a href="https://twitter.com/jcmrgo"target="__blank"><img class="img-30" src="/img/twitter3.1.png"></a><a href="https://www.linkedin.com/in/jlcamargo"target="__blank"><img class="img-30" src="/img/linkedin3.png"></a>
						<a href="https://github.com/jcmrgo"target="__blank"><img class="img-30" src="/img/github.png"></a>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/rodolfo.png">
						<h4><b>RODOLFO RESINES</b></h4>
						<p><span class="text-teal"><i>Customer Success</i></span></p>
						<a href="https://www.linkedin.com/in/rodolfo-resines/"target="__blank"><img class="img-30" src="/img/linkedin3.png"></a>
					</div>
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/maki.png">
						<h4><b>MAKI MILLER</b></h4>
						<p><span class="text-purple"><i>Lead Designer</i></span></p>
						<a href="https://twitter.com/makimiller"target="__blank"><img class="img-30" src="/img/twitter3.1.png"></a><a href="https://dribbble.com/makimiller"target="__blank"><img class="img-30" src="/img/dribbble.png"></a>
						<a href="https://www.instagram.com/makimiller"target="__blank"><img class="img-30" src="/img/insta.png"></a>
					</div>
					<!--div class="col-md-4 align-center">
						<img src="/img/pato.png">
						<h4><b>JOSÉ SAINZ</b></h4>
						<p><span class="text-green"><i>Marketing Strategist</i></span></p>
						<a href="https://twitter.com/patosainz"><img class="img-30" src="/img/twitter3.1.png"></a><a href="https://mx.linkedin.com/in/josemiguelsainz/en"><img class="img-30" src="/img/linkedin3.png"></a>
					</div-->
					<div class="col-md-4 align-center">
						<img class="img-avatar" src="/img/bosco.png">
						<h4><b>Bosco The Corgi</b></h4>
						<p><span class="text-green"><i>Happiness Manager</i></span></p>
						<a href="https://www.instagram.com/boscothecorgi" target="__blank"><img class="img-30" src="/img/insta.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Contacto-->

<div class="back-imgblue">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h2><span class="text-white">¿Quieres saber más?</span></h2>
        <h4><span class="text-white">Descubre cómo podemos ayudarte a modernizar tu actividad médica.</span></h4>
      </div>
    </div>
    <div class="row margin-mediumtop align-center">
      <!--div class="col-md-3 col-md-offset-2">
        <input class="form-control" type="text" placeholder="Nombre y Apellido">
      </div>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Correo Electrónico">
      </div-->
      <div class="col-md-6 col-md-offset-3">
        <a class="btn-stroke-white" data-toggle="modal" data-target="#modal-about" href="#">Contáctanos</a>
      </div>
    </div>
  </div>
</div>