---
title: Administra tu Clínica y tus Pacientes | Nimbo X
path: /clinicas/
path_en: /clinics/
---

<div class="clinicas">

<div class="new-font">

<!--Header-->

<div class="header-cli">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h1>Organiza los datos de tu clínica con una aplicación que tus médicos amarán usar.</h1>
        <h4 class="margin-smallbottom"><span class="text-lightGray">Los datos en hojas de word no te ayudarán a tener un mejor control de tu operación.</span></h4>
        <a class="btn-teal" data-toggle="modal" data-target="#modal-demo" href="#">Conoce Nimbo X</a>
      </div>
      <div class="col-md-2 col-md-offset-2 align-center margin-bigtop">
        <script src="https://fast.wistia.com/embed/medias/6gt0o36mrx.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_6gt0o36mrx popover=true popoverContent=link" style="display:inline"><a href="#"><img class="img-play"src="/img/play.png"></a></span>
      </div>
    </div>
  </div>
</div>

<!--Beneficios-->

<div class="beneficios">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row align-center">
          <div class="col-md-8 col-md-offset-2">
            <h5><span class="text-lightGray"><b>NIMBO X TE AYUDA A OBTENER EL CONTROL DE TU CLÍNICA</b></span></h5>
            <h4 align="center">Di adiós a expedientes extraviados y citas mal agendadas, y dale la bienvenida  a una solución moderna que tus médicos amaran. </h4>
            <hr>
          </div>
        </div> 
        <div class="row margin-top">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2 align-center">
                <img class="img-30 margin-xstop" src="/img/check-teal.png">
              </div>
              <div class="col-md-10">
                <p>Historias clínicas centralizadas y compartidas por todos los médicos de tu clínica.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-center">
                <img class="img-30 margin-xstop" src="/img/check-teal.png">
              </div>
              <div class="col-md-10">
                <p>Una agenda para administrar la disponibilidad de todos tus médicos.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-center">
                <img class="img-30 margin-xstop" src="/img/check-teal.png">
              </div>
              <div class="col-md-10">
                <p>Automatiza reportes para mayor visibilidad de tu operacion y pagos de aseguradoras.</p>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-md-10 col-md-offset-2">
                <a class="btn-blue" data-toggle="modal" data-target="#modal-demo" href="#">Habla con un Representante</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 align-center">
            <img class="img-header mobile-hide" src="/img/doc-love.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Banner-->

<!--div class="banner-farm">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3" align="center">
          <a href="https://goo.gl/Oal5iF"><img class="img-iconmod" src="/img/chrome-01.png"></a>
        </div>
        <div class="col-md-3" align="center">
          <a href="https://goo.gl/Oal5iF"><img class="img-iconmod" src="/img/google.png"></a>
        </div>
        <div class="col-md-3" align="center">
          <a href="http://goo.gl/wsHbJW"><img class="img-iconmod" src="/img/apple.png"></a>
        </div>
        <div class="col-md-3" align="center">
          <a href="http://goo.gl/Oc4oui"><img class="img-iconmod" src="/img/windows.png"></a>
        </div>
      </div>
    </div>
  </div>
</div-->

<!--Features-->

<div class="features">
  <div class="container">
    <div class="row margin-extratop">
      <div class="col-md-5 col-md-offset-1 align-center margin-extratop">
        <img class="img-mapa" src="/img/mapa.png">
      </div>
      <div class="col-md-5 col-md-offset-1 margin-extratop" align="right">
        <h2><span class="text-teal">Amado por más 5,000 médicos en más de 25 países. </span></h2>
        <h4><span class="text-mediumGray">El 92% de nuestros usuarios<br> recomiendan Nimbo X con sus colegas.</span></h4>
      </div>
    </div>
  </div>  
</div>

<!--Testimonios-->

<div class="clientes-cli" id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h5 align="center"><span class="text-lightGray"><b>ELLOS NOS RECOMIENDAN</b></span></h5>
          <hr>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-7">
        <div class="col-md-2 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-3.png">
        </div>
        <div class="col-md-10 arrow_box-cli">
          <p><img class="img-quote"src="/img/quote-bef-sky.png">[Con Nimbo X] Ahorro tiempo en la atención al paciente y tengo enorme facilidad de consultar en el momento que quiera el expediente de mis pacientes. <img class="img-quote-aft"src="/img/quote-sky.png"><br></p>
          <p><span class="text-lightGray"><i>- Dr. F. Kurt Overhage H., Médico Internista.</i></span></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-2.png">
        </div>
        <div class="col-md-9 arrow_box-cli">
          <p><img class="img-quote"src="/img/quote-bef-blue.png">Amo su plataforma y la estructura de la historia clínica, los datos a solicitar y los mostrados en el historial de consultas es muy sencillo y concreto. Además el anclaje a Google Calendar hace más fácil alos pacientes recordar sus citas y asistir a consulta. <img class="img-quote-aft"src="/img/quote-aft-blue.png"><br></p>
          <p><span class="text-lightGray"><i>- Nadllely Sámano Márquez, Nutrióloga</i></span></p>
        </div>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-5 margin-neg">
        <div class="col-md-9 arrow_box_right-cli">
          <p><img class="img-quote"src="/img/quote-bef-bb.png">Mayor control de alergias y patologías crónico degenerativas, por lo cual eso permite un mejor tratamiento y evolución en el paciente. <img class="img-quote-aft"src="/img/quote-bb.png"><br></p>
          <p><span class="text-lightGray"><i>- Janeth Carrillo Sanchez, Médico General</i></span></p>
        </div>
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-2.png">
        </div>
      </div>
      <div class="col-md-7 margin-smalltop">
        <div class="col-md-9 arrow_box_right-cli">
          <p><img class="img-quote"src="/img/quote-bef-teal.png">Con Nimbo X puede crear, revisar y enviar datos clínicos desde cualquier parte del mundo. Mis pacientes me acompañan a dónde yo vaya con Nimbo X. Colegas ¡¡prueben esta aplicación!! <img class="img-quote-aft"src="/img/quote-aft-teal.png"><br></p>
          <p><span class="text-lightGray"><i>- Dr. Eric González, Médico General</i></span></p>
        </div>
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-3.png">
        </div>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-md-12">
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-0.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-03.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-02.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-01.png">
        </div>
      </div>
    </div>
  </div>
</div>


<!--Contacto-->

<div class="contacto-cli" id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 align="center"><span class="text-white">Prueba gratis Nimbo X por 30 días</span></h2>
        <p align="center" class="margin-smalltop"><span class="text-white">Si al final de los 30 días de tu prueba no te gusta Nimbo X, te entregamos toda la información de tus pacientes en un formato exportable.</span><p>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-12 align-center">
        <a class="btn-stroke-white" data-toggle="modal" data-target="#modal-demo" href="#">Empieza tu prueba hoy</a>
      </div>
    </div>
  </div>  
</div></div>  