---
title: Preguntas Frecuentes | Nimbo X
path: /faq/
path_en: /faq/
---

<!--Header-->
<div class="producto-header">
	<div class="container">
		<div class="row margin-top align-center">
			<div class="col-md-6 col-md-offset-3">
				<h2><b>Preguntas Frecuentes</b></h2>
				<h4>Respuestas sencillas a todas tus preguntas.</h4>
				<hr>
			</div>
		</div>
	</div>
</div>
<!--FAQ-->

	<div class="container">
		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
						<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20 " src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Qué es Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>Es una aplicación para médicos y consultorios médicos en la nube de expediente clínico electrónico. Nimbo X te permite centralizar toda la información de tus pacientes en una sola aplicación fácil y segura de usar. Cuando tienes tus pacientes en Nimbo X podrás accesar a la información de cualquiera de ellos en segundos.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- segunda columna -->
			<div class="col-md-5 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Qué costo tiene Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>Nimbo X en su versión más básica no tiene ningún costo. Sin embargo hay versiones con mayores funcionalidades que tienen un costo anual. Te sugerimos consultar nuestra sección de precios para encontrar la versión de Nimbo X que más se ajuste a lo que necesitas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Cómo empiezo a usar Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>Sólo tienes que crear tu cuenta aquí, es tan sencillo como crear una cuenta de email o de Facebook. Una vez que hayas creado tu cuenta podrás empezar a agregar tus pacientes.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- segunda columna -->
			<div class="col-md-5 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Quién puede ver la información de mis pacientes?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p><b>Médico Particular:</b> Sólo tu tendrás acceso a la información de tus pacientes. Si tienes Nimbo X Gold, tu asistente podrá colaborar en tu agenda y tener acceso a los datos demográficos de tus pacientes. La información clínica sigue siendo privada con tu usuario y contraseña. <br><b>Organizaciones (clínicas y farmacias)</b>: La información clínica de tus pacientes será compartida con tus colegas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Dónde está la información de mis pacientes?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>La información de tus pacientes está almacenada en nuestros servidores en Estados Unidos. La seguridad y fidelidad de los datos clínicos de los pacientes es nuestra prioridad más importante, seguimos los estándares de seguridad y encriptación más estrictos.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- segunda columna -->
			<div class="col-md-5 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Qué necesito tener para usar Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>Para usar Nimbo X  solo necesitas acceso a internet. Nimbo X funciona mejor con Google Chrome, pero soporta cualquier otro navegador en cualquier dispositivo.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top margin-bottom">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>¿Qué pasa con mi información si dejo de usar Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>Aunque dejes de usar Nimbo X por algún tiempo, siempre puedes regresar a la aplicación donde encontrarás los expedientes de tus pacientes. Tu información siempre está ahí.  Si por algún motivo decides dejar de usar Nimbo X, puedes exportar la información de tus pacientes y tus citas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!--Banner-->

	<div class="back-imgteal">
		<div class="container">		
			<div class="row">
				<div class="align-center col-md-6 col-md-offset-3">
					<h3><b><span class="text-white">¿No respondimos tu pregunta?</span></b>
					<a class="btn-stroke-white" href="mailto:hola@nimbox.com">Contáctanos</a></h3>
				</div>
			</div>
		</div>	
	</div>
