---
title: Agenda Médica, Historia Clínica, Control de Ingresos | Nimbo X


path: /modulos/
path_en: /features/
---

<!--Modulos-->

<div class="producto producto-header">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-8 col-md-offset-2 align-center">
        <h1><b>El Expediente Clínico Electrónico para el doctor y las organizaciones modernas.</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h4>La información clínica de tus pacientes, organizada y siempre disponible desde cualquier dispositivo.</h4>
        <hr>
      </div>
    </div>
  </div> 
</div>


<div class="producto" id="agenda"> 
  <div class="container">  
    <div class="row margin-top">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <h2>Agenda Médica</h2>
            <p class="margin-smalltop">El tener una agenda médica dentro del expediente clínico de tus pacientes es increíble. Ver la disponibilidad de citas y pacientes que consultarás durante el día no será problema.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/recordatorios.png">
          </div>
          <div class="col-md-10">
            <h3>Recordatorios a Pacientes</h3>
            <p>Con Nimbo X tus pacientes nunca se olvidarán de su cita. Envía recordatorios por correo electrónico para que tus pacientes tengan la información de su cita a la mano.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/porta.png">
          </div>
          <div class="col-md-10"> 
            <h3>Portal para solicitar citas en línea</h3>
            <p>Ahora tus pacientes podrán solicitar citas en línea en base a tu disponibilidad. Nimbo X genera un URL único que puedes compartir con tus pacientes y en redes sociales.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/asistente.png">
          </div>
          <div class="col-md-10">
            <h3>Cuenta para Asistente</h3>
            <p>TTu y tu asistente podrán trabajar en conjunto para llevar un excelente control de tu agenda, de la información de tus pacientes y de la administración de tu consultorio.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/integracion.png">
          </div>
          <div class="col-md-10"> 
            <h3>Integración con Google Calendar</h3>
            <p>Consulta tu agenda desde tu aplicación de calendario favorita, solo tienes que integrar Nimbo X con tu cuenta de Google Calendar y todas tus citas estarán sincronizadas.</p>
            <img class="img-mapa"src="/img/logo-ggle-cal.png">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Registrate Gratis</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 margin-top align-center">
        <img class="margin-top img-product" src="/img/screenshot-agenda2.png">
      </div>
    </div>
  </div>
</div>

<div class="producto back-gray" id="pacientes">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-6 margin-top align-center">
        <img class="img-iconfeat margin-top" src="/img/hist-med.png">
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h2>Historia Clínica y Notas de Evolución</h2>
          <p class="margin-smalltop">Toda la información clínica de tus pacientes organizada y disponible con una búsqueda simple. No importa si quieres ver el resumen de su última consulta, ver los antecedentes heredofamiliares o buscar los medicamentos que le recetaste a un paciente hace 6 meses, encuetra lo que buscas en segundos.</p>
          <ul class="margin-mediumtop">
            <li>• Notas de consulta</li>
            <li>• Historia Clínica personalizable por especialidad</li>
            <li>• Gráficas de signos vitales</li>
            <li>• Impresión de recetas y expedientes</li>
            <li>• Envio de Receta Médica por Email</li>
            <li>• Estudios de gabinete y radiografías en la nube</li>
            <li>• Búsqueda Inteligente de diagnóstico</li>
            <li>• Detección de pacientes duplicados</li>
          </ul>
          <div class="row margin-top">
            <div class="col-md-10 col-md-offset-1">
              <a class="btn-teal" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Registrate Gratis</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="producto margin-top" id="receta"> 
  <div class="container">  
    <div class="row margin-mediumtop">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <h2>Receta Médica Electrónica</h2>
            <p class="margin-smalltop">Configura la receta médica con tu datos personales y ten disponible siempre la opción de imprimir la receta de la consulta actual o de enviarla por email a un solo clic.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/alertas.png">
          </div>
          <div class="col-md-10">
            <h3>Interacciones medicamentosas</h3>
            <p>Nimbo X usa la tecnología de Medi-Span y UpToDate para analizar y darte alertas si hay interacciones entre los medicamentos que estás recetando. Adicionalmente, contamos con monografías de más de 3,000 medicamentos.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/configuracion.png">
          </div>
          <div class="col-md-10">
            <h3>Configuración Personalizada</h3>
            <p>Configura tu receta con la información de tu consultorio y elige entre nuestros distintas plantillas para tener una receta que represente a tu consultorio.</p>
            <p>Tu receta médica además de ser electrónica, está disponible para imprimirse.</p>
          </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-10 col-md-offset-2">
              <a class="btn-purple" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Registrate Gratis</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-md-offset-1 margin-top align-center">
        <img class="img-product" src="/img/screenshot-receta2.png">
      </div>
    </div>
  </div>
</div>

<div class="producto back-gray" id="reportes">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-6 margin-top align-center">
        <img class="img-iconfeat margin-top" src="/img/metrics.png">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h2>Reportes y Métricas de Uso</h2>
            <p class="margin-smalltop">Conoce con datos y estadísticas el desempeño real de tu consultorio.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/reportes.png">
          </div>
          <div class="col-md-10">
            <h3>Reportes para COFEPRIS</h3>
            <p>Automatiza la generación del SUIVE y la Hoja Diaria de Pacientes y despreocupate del almacenamiento de los expedientes. Protege tu consultorio con un ECE que te ayudará a cumplir las mejores prácticas sanitarias.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/tablero.png">
          </div>
          <div class="col-md-10">
            <h3>Tablero de Métricas</h3>
            <p>Con Nimbo X puedes ver las tendencias y estadísticas de los pacientes que atiendes. Convierte los datos de tus consultas en información estratégica para crecer tu negocio.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/email.png">
          </div>
          <div class="col-md-10">
            <h3>Reportes automatizados</h3>
            <p>Semanalmente recibirás un correo con lo que ha sucedido en tu consultorio durante la semana; cuantas consultas tuviste, a cuántos pacientes atendiste y las citas que tienes agendadas para la semana entrante.</p>
          </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-10 col-md-offset-2">
              <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Registrate Gratis</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="producto margin-top" id="receta"> 
  <div class="container">  
    <div class="row margin-mediumtop">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <h2>Control de Ingresos</h2>
            <p class="margin-smalltop">Con Nimbo X podrás registrar todos los cargos relacionados a una consulta para llevar fácilmente el control de tus ingresos.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/cargos.png">
          </div>
          <div class="col-md-10">
            <h3>Agrega cargos a tu consulta</h3>
            <p>Relaciona cada consulta con sus cargos respectivos, para  llevar un control más sencillo de los ingresos de tu consultorio.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/cargos1.png">
          </div>
          <div class="col-md-10">
            <h3>Catálogo de precios configurable</h3>
            <p>Da de alta tu lista de precios de productos y/o servicios para estandarizar tu contabilidad.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/cargos2.png">
          </div>
          <div class="col-md-10">
            <h3>Obtén reportes y estadísticas</h3>
            <p>Tendrás tu propio tablero de control de ingresos; podrás analizar nuevos cargos,  ticket promedio y  ganancias totales.</p>
          </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-10 col-md-offset-2">
              <a class="btn-teal" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Registrate Gratis</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 col-md-offset-1 margin-top align-center">
        <img class="img-product" src="/img/screenshot-cargos.png">
      </div>
    </div>
  </div>
</div>

<div class="features" id="soporte">
  <div class="container">
    <div class="row margin-extratop" align="center">
      <div class="col-md-6 col-md-offset-3 margin-bigtop">
        <h2><span class="text-blue"><b>Soporte en línea. Siempre Disponible.</b></span></h2>
        <p>En cualquier momento puedes enviarnos un mensaje por el chat que está integrado en la aplicación con cualquier duda y te la contestaremos en un tiempo de respuesta sorprendente.</p>
      </div>
    </div>
  </div>
</div>


