---
title: Módulo de Odontograma para Dentistas | Nimbo X
---

<!--Odonto-->

<div class="header-odonto">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 align-center margin-smalltop">
        <h1><span class="text-white">Expediente clínico electrónico + Odontograma =  El mejor control de tus consultas.</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h4 class="margin-smalltop"><span class="text-white">Olvídate de llevar el odontograma de tus pacientes en papel. Comienza hoy a utilizar una forma completamente nueva de administrar tu consultorio dental. ¡Crea tu cuenta!</span></b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 align-center">
        <form class="sign-up margin-mediumtop">
          <!--input type="name" placeholder="NOMBRE*" required>
          <input type="email" placeholder="EMAIL*" required-->
          <a href="https://app.nimbo-x.com/accounts/new" class="btn btn-odonto2">CREAR CUENTA</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Beneficios-->

<div class="beneficios margin-mediumtop margin-smallbottom">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p id="beneficios-odonto" align="center"><b>NIMBO X, PLATAFORMA EN LA NUBE</b></p>
        <hr>
        <h2 align="center">Una misma plataforma con toda<br>la información de tus pacientes.</h2>
        <div class="col-md-4 margin-top" align="center">
          <img class="img-center" src="/img/odonto-1.png">
          <h4 class="margin-smalltop">Integra y almacena la información odontológica de tus pacientes.</h4>
        </div>
        <div class="col-md-4 margin-top" align="center">
          <img class="img-center" src="/img/odonto-3.png">
          <h4 class="margin-smalltop">Utiliza según tus necesidades el odontograma de adulto o niño. </h4>
        </div>
        <div class="col-md-4 margin-top" align="center">
          <img class="img-center" src="/img/odonto-2.png">
          <h4 class="margin-smalltop">Selecciona la cara de cada pieza y da un diagnóstico y procedimiento.  </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modulos-->

<div class="back-gray-asy">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-5 col-md-offset-1">
        <p id="beneficios-odonto"><span class="text-mediumGray"><b>NIMBO X TE AYUDA A:</b></span></p>
        <div class="row margin-smalltop">
          <div class="col-md-1">
            <img src="/img/1.png">
          </div>
          <div class="col-md-11">
            <p>Administrar la información de tus pacientes con el expediente clínico más amado por los doctores de LATAM.</p>
          </div>
        </div>
        <div class="row margin-smalltop">
          <div class="col-md-1">
            <img src="/img/2.png">
          </div>
          <div class="col-md-11">
            <p>Llevar la agenda de tus consultas sin tener que utilizar ningún otro software.  </p>
          </div>
        </div>
        <div class="row margin-smalltop">
          <div class="col-md-1">
            <img src="/img/3.png">
          </div>
          <div class="col-md-11">
            <p>Acceder a toda a la información clínica de tus pacientes desde cualquier dispositivo y en cualquier lugar.</p>
          </div>
        </div>
      </div>
      <div class="col-md-7 relative">
        <img src="/img/mac-screenodonto.png">
      </div>
  
    </div>
  </div>
</div>

<!--PRECIOS-->

<div id="precios-odonto">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 margin-top"> 
        <p id="beneficios-odonto" align="center"><b>PRECIO</b></p>
      </div>  
    </div>  
    <div class="col-md-8 col-md-offset-2 margin-mediumtop">
      <div class="border-box-blue">
        <div class="row margin-smalltop">
          <div class="col-md-5 align-center margin-mediumtop">
            <p class="price-text">
              <span class="text-gray">
                <sup>$</sup>
                <span>1,500</span>
                <br>
                <sub>MXN</sub>
              </span>
            </p>
            <p id="price-monthly">Anuales por usuario<br>Incluye plan Gold</p>
            <div class="margin-mediumtop"></div>
            <a href="mailto:hola@nimbo-x.com" class="btn-odonto2">CONTÁCTANOS</a>
          </div>
          <div class="col-md-7">
            <div class="row margin-smalltop">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Expediente Clínico Electrónico</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Odontograma Adulto</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Odontograma Infantil</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>1GB de almacenamiento</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Agenda Médica</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Receta Médica Electrónica</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Cuenta Asistente</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Interacciones entre Medicamentos</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Gráficas de Signos Vitales</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <img src="/img/check-01.png">
              </div>
              <div class="col-md-9">
                <p>Métricas de Uso</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    <div class="row">
      <div class="col-md-10 col-md-offset-1 align-center margin-mediumtop margin-bottom">
        <p id="price-monthly">¿Quieres un mes de prueba completamente gratis? <a href="mailto:hola@nimbo-x.com"><br>Contáctanos</a> para más información.</p>
        <p id="price-monthly">*Precio aplica haciendo el pago anual.</p>
      </div>
    </div>
  </div>
</div>

<!--TESTIMONIO-->

<!--div class="test-odonto">
  <div class="container">
    <div class="row  margin-smalltop">
      <div class="col-md-10 col-md-offset-1 align-center">
        <p id="beneficios-odonto"><span class="text-white">LA APLICACIÓN FAVORITA DE LOS MÉDICOS</span></p id="beneficios-odonto">
      </div>
    </div>
  </div> 
</div-->
