---
title: Manage your Clinic and your Patients | Nimbo X
path: /clinicas/
path_en: /clinics/
---

<div class="clinicas">

<div class="new-font">

<!--Header-->

<div class="header-cli-au">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h1>Better management of all your practice’s data from an application physicians love to use.</h1>
        <h4 class="margin-smallbottom"><span class="text-lightGray">Discover how a smart patient and practice management system can help you run your organization.</span></h4>
        <a class="btn-teal" data-toggle="modal" data-target="#modal-demo" href="#">Register Interest</a>
      </div>
    </div>
  </div>
</div>

<!--Beneficios-->

<div class="beneficios">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row align-center">
          <div class="col-md-8 col-md-offset-2">
            <h5><span class="text-lightGray"><b>RUN YOUR CLINIC MORE EFFICIENTLY.</b></span></h5>
            <h4 align="center">Say goodbye to antiquated systems and down times and welcome a modern solution that your physicians will truly love to use. </h4>
            <hr>
          </div>
        </div> 
        <div class="row margin-top">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2 align-center">
                <img class="img-30" src="/img/check-teal.png">
              </div>
              <div class="col-md-10">
                <p>Save time and money with a centralized patient and practice management that will help the different areas of your organization work in unison.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-center">
                <img class="img-30" src="/img/check-teal.png">
              </div>
              <div class="col-md-10">
                <p>Simple scheduling to handle all your physicians encounters. </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-center">
                <img class="img-30" src="/img/check-teal.png">
              </div>
              <div class="col-md-10">
                <p>Streamline reports to have greater visibility of what is going on in your organization and simplify your billing process.</p>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-md-10 col-md-offset-2">
                <a class="btn-blue" data-toggle="modal" data-target="#modal-demo" href="#">Get in touch with us!</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 align-center">
            <img class="img-header mobile-hide" src="/img/doc-love.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Banner-->

<!--div class="banner-farm">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3" align="center">
          <a href="https://goo.gl/Oal5iF"><img class="img-iconmod" src="/img/chrome-01.png"></a>
        </div>
        <div class="col-md-3" align="center">
          <a href="https://goo.gl/Oal5iF"><img class="img-iconmod" src="/img/google.png"></a>
        </div>
        <div class="col-md-3" align="center">
          <a href="http://goo.gl/wsHbJW"><img class="img-iconmod" src="/img/apple.png"></a>
        </div>
        <div class="col-md-3" align="center">
          <a href="http://goo.gl/Oc4oui"><img class="img-iconmod" src="/img/windows.png"></a>
        </div>
      </div>
    </div>
  </div>
</div-->

<!--Features-->

<div class="features">
  <div class="container">
    <div class="row margin-extratop">
      <div class="col-md-5 col-md-offset-1 align-center margin-extratop">
        <img class="img-mapa" src="/img/mapa.png">
      </div>
      <div class="col-md-5 col-md-offset-1 margin-extratop" align="right">
        <h2><span class="text-teal">Loved by more than 5,000 physicians in more than 25 countries. </span></h2>
        <h4><span class="text-mediumGray">93% of our users recommend us to their colleagues. </span></h4>
      </div>
    </div>
  </div>  
</div>

<!--Testimonios-->

<div class="clientes-cli" id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h5 align="center"><span class="text-lightGray"><b>WHAT OUR USERS SAY ABOUT US.</b></span></h5>
          <hr>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-7">
        <div class="col-md-2 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-3.png">
        </div>
        <div class="col-md-10 arrow_box-cli">
          <p><img class="img-quote"src="/img/quote-bef-sky.png">With Nimbo X I save a lot of time when treating my patients and I can very easily access all of the patients clinical data.<img class="img-quote-aft"src="/img/quote-sky.png"><br></p>
          <p><span class="text-lightGray"><i>- Dr. F. Kurt Overhage H., Internal Medicine.</i></span></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-2.png">
        </div>
        <div class="col-md-9 arrow_box-cli">
          <p><img class="img-quote"src="/img/quote-bef-blue.png">I love the platform and the way the health records are structured; filling in data and visualizing it on consultations is very easy and concrete. Furthermore, the Google Calendar integration reduces no-shows with my patients! <img class="img-quote-aft"src="/img/quote-aft-blue.png"><br></p>
          <p><span class="text-lightGray"><i>- Nadllely Sámano Márquez, Nutrologist</i></span></p>
        </div>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-5 margin-neg">
        <div class="col-md-9 arrow_box_right-cli">
          <p><img class="img-quote"src="/img/quote-bef-bb.png">Having greater control of patient’s allergies and chronic degenerative diseases of my patients, allows me a better treatment and visualization of medical evolution. <img class="img-quote-aft"src="/img/quote-bb.png"><br></p>
          <p><span class="text-lightGray"><i>- Janeth Carrillo Sanchez, General Physician</i></span></p>
        </div>
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-2.png">
        </div>
      </div>
      <div class="col-md-7 margin-smalltop">
        <div class="col-md-9 arrow_box_right-cli">
          <p><img class="img-quote"src="/img/quote-bef-teal.png">With Nimbo X I can create, check and add medical information from anywhere in the world. My patients are with me wherever I go thanks to Nimbo X. Colleagues: You have to try this app!<img class="img-quote-aft"src="/img/quote-aft-teal.png"><br></p>
          <p><span class="text-lightGray"><i>- Dr. Eric González, General Physician</i></span></p>
        </div>
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-3.png">
        </div>
      </div>
    </div>
    <!--div class="row margin-top">
      <div class="col-md-12">
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-0.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-03.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-02.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-01.png">
        </div>
      </div>
    </div-->
  </div>
</div>


<!--Contacto-->

<div class="contacto-cli-au" id="contacto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 align="center"><span class="text-white">Start using Nimbo X for free.</span></h2>
        <p align="center" class="margin-smalltop"><span class="text-white">Try Nimbo X completely free for 30 days, and if at the end of the trial period you are not convinced we are the right solution for you we will give you all of your data in an exportable format. </span><p>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-12 align-center">
        <a class="btn-stroke-white" data-toggle="modal" data-target="#modal-demo" href="#">Register Interest</a>
      </div>
    </div>
  </div>  
</div></div>  
