---
title: Frequently Asked Questions | Nimbo X
path: /faq/
path_en: /faq/
---

<!--Header-->
<div class="producto-header">
	<div class="container">
		<div class="row margin-top align-center">
			<div class="col-md-6 col-md-offset-3">
				<h2><b>Frequently Asked Questions</b></h2>
				<h4>Simple answers to all your questions.</h4>
				<hr>
			</div>
		</div>
	</div>
</div>
<!--FAQ-->

	<div class="container">
		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
						<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20 " src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>What is Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>A cloud application that helps physicians and medical organizations have a better control of their patient’s data and operations. Nimbo X integrates a practice management system with an electronic health record so that you can have an easy control of your whole operation from a single easy to use app. </p>
						</div>
					</div>
				</div>
			</div>

			<!-- segunda columna -->
			<div class="col-md-5 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>How much does Nimbo X cost?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>The most basic version of Nimbo X is free. The full version of Nimbo X has a low monthly subscription fee. You can see our pricing page to find the Nimbo X plan that suits your organization’s needs.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>How can I start using Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>You can create your free account here! It’s as easy as signing up for an email or facebook account. Since Nimbo X is in the cloud, you don't have to download or install any software.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- segunda columna -->
			<div class="col-md-5 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>Who can access my patients information?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>Only people who you have invited to be part of your organization on Nimbo X will have access to the patient's data. Assistant accounts will only have access to patients demographic information and to the schedule, physicians can access any patient's record as they need.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>Where is my patient's data stored?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>All of your organization’s data is stored in our server in the United States. The security and privacy of your clinical data is our number one priority, that’s why we follow the highest standards of security and encryption.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- segunda columna -->
			<div class="col-md-5 margin-top">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>What do I need to be able to use Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>You just need to have an internet connection on any devices that has an internet browser; weather it be a laptop, tablet or smartphone you can access Nimbo X from anywhere.  </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- primera columna -->
			<div class="col-md-5 col-md-offset-1 margin-top margin-bottom">
				<div class="pregunta-respuesta">
					<!-- una pregunta -->
					<div class="row">
					<div class="col-md-1 col-md-offset-1">
							<img class="faq img-20" src="/img/icon-answer-01.png">
						</div>
						<div class="col-md-10">
							<!-- content pregunta -->
							<h3><b>What happens to my information if i stop using Nimbo X?</b></h3>
						</div>
					</div>
					<!-- una respuesta -->
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<!-- content respuesta -->
							<p>If you stop using Nimbo X for a period of time, you can always come back to the app and find all of your patients data. If at any moment you want to delete your Nimbo X account you can export all of your patients data.</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<!--Banner-->

	<div class="back-imgteal">
		<div class="container">		
			<div class="row">
				<div class="align-center col-md-6 col-md-offset-3">
					<h3><b><span class="text-white">We didn't answer your question?</span></b>
					<a class="btn-stroke-white" href="mailto:hola@nimbox.com">Contact Us!</a></h3>
				</div>
			</div>
		</div>	
	</div>
