---
title: Practice Management, Health Records, Revenue Management | Nimbo X
path: /modulos/
path_en: /features/
---

<!--Modulos-->

<div class="producto producto-header">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-8 col-md-offset-2 align-center">
        <h1><b>The smart health record for modern <br>physicians and clinics.</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h4>All of your patient’s data, organized and always available from any device.</h4>
        <hr>
      </div>
    </div>
  </div> 
</div>


<div class="producto" id="agenda"> 
  <div class="container">  
    <div class="row margin-top">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <h2>Practice Management</h2>
            <p class="margin-smalltop">Having your practice management system completely integrated with your EHR is amazing. Manage your schedule and make sure your patients come to their appointments all from an easy to use app.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/recordatorios.png">
          </div>
          <div class="col-md-10">
            <h3>Appointment Reminders</h3>
            <p>Nimbo X will help your patients never miss an appointment. Send email reminders so your patients will always have their appointment information at hand.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/porta.png">
          </div>
          <div class="col-md-10"> 
            <h3>Online appointment booking</h3>
            <p>Your patients will be able to book their appointments online. Nimbo X generates a unique URL for your clinic that you can share anywhere.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/asistente.png">
          </div>
          <div class="col-md-10">
            <h3>Assistant Profiles</h3>
            <p>Work in tune with the rest of your staff. Focus on giving your patients the best care possible by allowing your assistant to efficiently manage all of your administrative tasks.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/integracion.png">
          </div>
          <div class="col-md-10"> 
            <h3>Sync with Google Calendar</h3>
            <p>Check your schedule from your favourite calendar app by synchronizing Nimbo X with your Google Account.</p>
            <img class="img-mapa"src="/img/logo-ggle-cal.png">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Sign Up for Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 margin-top align-center">
        <img class="margin-top img-product" src="/img/screenshot-agenda-en.png">
      </div>
    </div>
  </div>
</div>

<div class="producto back-gray" id="pacientes">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-6 margin-top align-center">
        <img class="img-iconfeat margin-top" src="/img/hist-med.png">
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <h2>Electronic Health Record</h2>
          <p class="margin-smalltop">Whether you want to see the summary of a patient's last encounter, their family background or a prescription you gave them 6 months ago, all of your patients’ clinical information is just a search away.</p>
          <ul class="margin-mediumtop">
            <li>• Charting and Patient Encounters</li>
            <li>• Customizable Medical History</li>
            <li>• Vital Signs Graphs</li>
            <li>• Print prescriptions and health records</li>
            <li>• Send prescriptions by email</li>
            <li>• Store Lab works and X-rays in the cloud</li>
            <li>• Smart diagnostics and drug search</li>
            <li>• Duplicate patient creation prevention</li>
          </ul>
          <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1">
            <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Sign Up for Free</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="producto margin-top" id="receta"> 
  <div class="container">  
    <div class="row margin-mediumtop">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <h2>Smart Prescriptions</h2>
            <p class="margin-smalltop">Set up your medical prescription with your personal information and print prescriptions for your patients with a simple click.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/alertas.png">
          </div>
          <div class="col-md-10">
            <h3>Clinical Decision Support</h3>
            <p>Nimbo X uses Medi-span and UpToDate to analyze and give you warnings in case of duplicate therapies or adverse interactions between the drugs you are prescribing. Furthermore, we have the monographies of over 3,000 medications. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/configuracion.png">
          </div>
          <div class="col-md-10">
            <h3>Customize your prescription</h3>
            <p>Set up your prescription with your personal information and choose one of our different templates to represent your practice. </p>
            <p>You’ll have access to your patients electronic prescriptions from any device, and you can print it whenever you need to.</p>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Sign Up for Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 margin-top align-center">
        <img class="img-product" src="/img/screenshot-receta2-en.png">
      </div>
    </div>
  </div>
</div>

<div class="producto back-gray" id="reportes">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-6 margin-top align-center">
        <img class="img-iconfeat margin-top" src="/img/metrics.png">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h2>Reporting and Dashboards</h2>
            <p class="margin-smalltop">We believe that being able to measure your practice with real time data will help achieve a better performance, that’s why we’ve created real time dashboards and reports for your practice.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/reportes.png">
          </div>
          <div class="col-md-10">
            <h3>Metrics Dashboard</h3>
            <p>It’s really easy to get caught up in the day to day work, thanks to Nimbo X now you can see statistics and trends in your patient encounters. Convert your encounters data into strategic information to grow your business.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-smalltop" src="/img/tablero.png">
          </div>
          <div class="col-md-10">
            <h3>Automatic Report Generation</h3>
            <p>Every Monday you will have a clear view of what happened in your practice last week, from how many encounters you had, how many new patients you saw or what your schedule is looking like for the following week.</p>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Sign Up for Free</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="producto margin-top" id="receta"> 
  <div class="container">  
    <div class="row margin-mediumtop">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <h2>Billing and Revenue Control</h2>
            <p class="margin-smalltop">With Nimbo X you’ll be able to manage your fee list and register any charges related to a patient visit. Control and visualize your income without any extra effort. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/cargos.png">
          </div>
          <div class="col-md-10">
            <h3>Keep track of your billing</h3>
            <p>Document all patient charges related to an appointment and keep track of your practice financial performance.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/cargos1.png">
          </div>
          <div class="col-md-10">
            <h3>Add your organization's services and prices</h3>
            <p>Register and maintain your practice fee list for all the medical services you provide. It’s easy and hasslefree.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <img class="img-20 margin-mediumtop" src="/img/cargos2.png">
          </div>
          <div class="col-md-10">
            <h3>Reports and Statistics based on your needs</h3>
            <p>You’ll have your own dashboard to track your practice financial performance, analyze new medical services, average receipt price, and overall income.</p>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-2">
            <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Sign Up for Free</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 margin-top align-center">
        <img class="img-product" src="/img/screenshot-cargos-en.png">
      </div>
    </div>
  </div>
</div>

<div class="features" id="soporte">
  <div class="container">
    <div class="row margin-extratop" align="center">
      <div class="col-md-6 col-md-offset-3 margin-bigtop">
        <h2><span class="text-blue"><b>Online Customer Support. <br>Available Always.</b></span><h2>
        <p>At any moment you can send our support team an in app message so they can help you with whatever questions you have so you can take full advantage of all the functionality Nimbo x has to offer.</p>
      </div>
    </div>
  </div>
</div>
