---
path: /
path_en: /
---
<!--Header-->

<div class="header">
  <div class="container">
    <div class="row align-center">
      <div class="col-md-8 col-md-offset-2">
        <h1>Have a better control of your practice's data. A free digital patient management system.</h1>
      </div>
    </div>
    <div class="row align-center">
      <div class="col-md-8 col-md-offset-2 margin-smalltop">
        <h4><span class="text-mediumGray">Manage all of your patients' information <br> from an easy to use cloud based app.</span></h4>
      </div>
    </div>
    <div class="row align-center">
      <div class="col-md-12 margin-smalltop">
        <a class="btn-blue" onclick="goog_report_conversion('https://app.nimbo-x.com/accounts/new'); trackOutboundLink('https://app.nimbo-x.com/accounts/new'); return false;" id="hire-link" href="https://app.nimbo-x.com/accounts/new" target="__blank">Create your free account</a>
      </div>
    </div>
    <div class="row align-center">
      <div class="col-md-12 margin-mediumtop">
        <a data-toggle="modal" data-target="#modal-demo" href="#"><span class="text-lightGray"><u>Request a Demo</u></span></a>
      </div>
    </div>
    <div class="row align-center mobile-hide">
      <div class="col-md-12 margin-top">
        <img class="img-banner-au" src="/img/header-screen-au-01.png">
        <hr>
      </div>
    </div>
  </div>
</div>

<!--Beneficios-->

<div class="beneficios">
  <div class="container">
    <div class="row margin-mediumtop">
      <div class="col-md-6 align-center">
        <img class="img-header margin-bigtop" src="/img/ilus-macbook.png">
      </div>
      <div class="col-md-6">
        <h5><span class="text-lightGray"><b>THE EASIEST TO USE EHR.</b></span></h5>
        <h3>Discover how easy it is to have all of your practice’s data in the cloud. Create your free account in minutes.</h3>
        <div class="row margin-mediumtop">
          <div class="col-md-1">
            <img class="img-30 margin-xstop" src="/img/check.png">
          </div>
          <div class="col-md-10">
            <h4>Organize your Practice</h4>
            <p>With Nimbo X you will have better control of your practice no matter where or on what device you are.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <img class="img-30 margin-xstop" src="/img/check.png">
          </div>
          <div class="col-md-10">
            <h4>Faster Encounters</h4>
            <p>Check patient records, document new encounters, or check your schedule in seconds.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <img class="img-30 margin-xstop" src="/img/check.png">
          </div>
          <div class="col-md-10">
            <h4>Secure Information</h4>
            <p>We follow the highest standards of encryption and data security. All your data is safe and backed up in the cloud.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- Banner -->

<div class="banner-screen-au">
  <div class="container-fluid">
    <div class="row margin-top">
      <div class="col-md-5 col-md-offset-1">
        <h3><img class="img-40" src="/img/heart.png">Our users love us.</h3>
        <p class="margin-smalltop">We made Nimbo X with physicians like you in mind; that's why 95% of our users recommend us to their colleagues.<br><b>Download the Desktop app today!</b></p>
        <div class="row margin-top">
          <a class="btn-purple" href="http://goo.gl/Oc4oui">Download for Windows</a>
          <a class="btn-blue" href="http://goo.gl/wsHbJW">Download for Mac</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Features-->

<div class="features">
  <div class="container">
    <div class="row margin-extratop">
      <div class="col-md-8 col-md-offset-2 margin-top">
        <h5 align="center"><span class="text-blue"><b>CAN YOUR CURRENT EHR DO ALL OF THIS?</b></span></h5>
        <h4 align="center">Nimbo X has all the functionality you need to have a simple,<br> fast and easy control of your practice’s day to day operation.</h4>
        <hr>
      </div>
    </div>
    <div class="row margin-smalltop margin-bigbottom">
      <div class="col-md-12">
        <div class="row margin-smalltop">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <img class="margin-smalltop img-iconmod" src="/img/cal.png">
                <h4 class="margin-smalltop">Scheduling</h4>
                <p>Plan your days, book appointments and manage your encounters with a schedule completely in sync with your patients health records.</p>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-md-12">
                <img class="margin-smalltop img-iconmod" src="/img/asist.png">
                <h4 class="margin-smalltop">Work across your practice</h4>
                <p>Your assistant will be able to help you manage your schedule and other administrative tasks so you can focus on taking care of your patients.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <img class="margin-smalltop img-iconmod" src="/img/file.png">
                <h4 class="margin-smalltop">Medical history and charting</h4>
                <p>All of your medical notes, medical histories, laboratory results and prescriptions easily accessible from any web browser in any device.</p>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-md-12">
                <img class="margin-smalltop img-iconmod" src="/img/file1.png">
                <h4 class="margin-smalltop">Store files</h4>
                <p>Keep all your patient data in one place by attaching X-rays, lab studies, files, photos or any other document to a patient’s health record.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <img class="margin-smalltop img-iconmod" src="/img/print.png">
                <h4 class="margin-smalltop">Print prescriptions and health records</h4>
                <p>Set up your medical prescriptions and always have the option to export health records to PDF and print them for referrals.</p>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-md-12">
                <img class="margin-smalltop img-iconmod" src="/img/alert-01.png">
                <h4 class="margin-smalltop">Clinical Decision Support</h4>
                <p>We use Wolters Kluwer’s technology to analyze prescriptions and give you a warning in case of any adverse interaction between medications or with the patient's allergies.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bigtop">
      <div class="col-md-12 align-center">
        <%= link_to 'Find out more about our product', './features.html', :class=>'btn-teal'%>
      </div>
    </div>
  </div>
</div>


<!--Precios-->

<div class="precios margin-bigtop">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 align-center">
        <h5><span class="text-lightGray"><b>NIMBO X SAVES YOU TIME AND MONEY.</b></span></h5>
        <h4 class="margin-smalltop">Nimbo X will always have a free version.<br> If you want to unleash its full potential with incredible <br> functionality you can subscribe to our Gold plan.</h4>
        <hr>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">

<!--NimboX Org-->

    <div class="col-md-4 margin-top">
      <div class="box-orange">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1 align-center">
            <span class="text-lightGray">
              <h5><b>ORGANIZATIONS</b></h5>
            </span>
            <br>
            <p class="price-text"><span class="text-orange">
              <span>$150</span>
              <br>
              <sub>AUD</sub></span>
            </p>
            <p id="price-monthly">Annual Subscription per user</p>
            <div class="margin-top"></div>
          </div>
        </div>
      </div>
    </div>

<!--NimboX GOLD-->

    <div class="col-md-4 margin-top">
      <div class="box-purple">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1 align-center">
            <span class="text-lightGray">
              <h5><b>NIMBO X</b></h5>
            </span>
            <br>
            <p class="price-text"><span class="text-purple">
              <span>$80</span>
              <br>
              <sub>AUD</sub>
              </span>
            </p>
            <p id="price-monthly">Annual Subscription</p>
            <div class="margin-top"></div>
          </div>
        </div>
      </div>
    </div>

<!--NimboX-->

    <div class="col-md-4 margin-top">
      <div class="box-blue">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1 align-center">
            <span class="text-lightGray">
              <h5><b>FREE</b></h5>
            </span>
              <br>
            <p class="price-text">
              <span class="text-teal">$0
              <br>
              <sub>AUD</></sub></span>
            </p>
            <p id="price-monthly">Annual Subscription</p>
            <div class="margin-top"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-bordered margin-top">
          <tr>
            <td>Health Records</td>
            <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
            <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
            <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
          </tr>
          <tr>
            <td>Scheduling</td>
            <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
            <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
            <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
          </tr>
          <tr>
            <td>Medical Prescriptions</td>
            <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
            <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
            <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
          </tr>
          <tr>
            <td>Accounts for Assistants</td>
            <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
            <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
            <td></td>
          </tr>
          <tr>
            <td>Centralized Records</td>
            <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-12 align-center margin-mediumtop">
        <%= link_to 'View More',  './pricing.html', class:'btn-blue' %>
      </div>
    </div>
  </div>
  </div>
</div>


<!--Testimonios-->

<div class="clientes" id="clientes">
  <div class="container">
    <div class="row margin-extratop">
      <div class="col-md-6 col-md-offset-3 margin-top">
        <h5 align="center"><span class="text-lightGray"><b>WHAT OUR USERS SAY ABOUT US.</b></span></h5>
          <hr>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-7">
        <div class="col-md-2 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-1.png">
        </div>
        <div class="col-md-10 arrow_box">
          <p><img class="img-quote"src="/img/quote-bef.png">With Nimbo X I save a lot of time when treating my patients and I can very easily access all of the patients clinical data. <img class="img-quote-aft"src="/img/quote-aft.png"><br></p>
          <p><span class="text-lightGray"><i>- Dr. F. Kurt Overhage H., Internal Medicine.</i></span></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-3.png">
        </div>
        <div class="col-md-9 arrow_box">
          <p><img class="img-quote"src="/img/quote-bef-blue.png">I love the platform and the way the health records are structured; filling in data and visualizing it on consultations is very easy and concrete. Furthermore, the Google Calendar integration reduces no-shows with my patients!<img class="img-quote-aft"src="/img/quote-aft-blue.png"><br></p>
          <p><span class="text-lightGray"><i>- Nadllely Sámano Márquez, Nutrologist</i></span></p>
        </div>
      </div>
    </div>
    <div class="row margin-smalltop">
      <div class="col-md-5 margin-neg">
        <div class="col-md-9 arrow_box_right">
          <p><img class="img-quote"src="/img/quote-bef-yellow.png">Having greater control of patient’s allergies and chronic degenerative diseases of my patients, allows me a better treatment and visualization of medical evolution.<img class="img-quote-aft"src="/img/quote-aft-yellow.png"><br></p>
          <p><span class="text-lightGray"><i>- Janeth Carrillo Sanchez, General Physician</i></span></p>
        </div>
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-4.png">
        </div>
      </div>
      <div class="col-md-7 margin-smalltop">
        <div class="col-md-9 arrow_box_right">
          <p><img class="img-quote"src="/img/quote-bef-teal.png">With Nimbo X I can create, check and add medical information from anywhere in the world. My patients are with me wherever I go thanks to Nimbo X. Colleagues: You have to try this app!<img class="img-quote-aft"src="/img/quote-aft-teal.png"><br></p>
          <p><span class="text-lightGray"><i>- Dr. Eric González, General Physician</i></span></p>
        </div>
        <div class="col-md-3 margin-xstop">
          <img class="img-70 mobile-hide" src="/img/avatar-2.png">
        </div>
      </div>
    </div>
    <!--div class="row margin-top">
      <div class="col-md-12">
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-0.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-03.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-02.png">
        </div>
        <div class="col-md-3" align="center">
          <img class="img-social" src="/img/social-01.png">
        </div>
      </div>
    </div-->
  </div>
</div>

<!--Registro-->

<div class="registro-au">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h2><span class="text-white">Nimbo X is free!</span></h2>
        <h4><span class="text-white">Get in touch with us and start your next consultation with Nimbo X</span></h4>
      </div>
    </div>
    <div class="row margin-mediumtop align-center">
      <div class="col-md-6 col-md-offset-3">
        <a class="btn-stroke-white" data-toggle="modal" data-target="#modal-about" href="#">Register Interest</a>
      </div>
    </div>
  </div>
</div>

<!--Social Media-->

<!--div class="social">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-center">
        <h3><span class="text-white"><b>SÍGUENOS</b></span></h3>
        <p><span class="text-white">Somos sociales, síguenos en Facebook y Twitter</span></p>
        <p><a href="https://www.facebook.com/nimboxECE" target="__blank"><img src="/img/facebook.png" alt="facebook"></a><a href="https://twitter.com/Nimbo_X" target="__blank"><img src="/img/twitter.png" alt="twitter"></a></p>
      </div>
    </div>
  </div>
</div-->

<%= partial "demo_modal" %>

<!--Banner-->

<!--
<div class="banner">
  <div class="container">
    <div class="row align-center">
      <h4>Nimbo X es una iniciativa de eCareSoft, Inc; Nimbo X es una nueva plataforma de Expediente Clínico Electrónico, enfocado en ser extremadamente fácil de usar e implementar en tu consultorio. Creemos que es hora de modernizar la medicina en México, por lo que Nimbo X es totalmente gratis.</h4>
    </div>
  </div>
</div>
!-->
