---
title: Pricing and Plans | Nimbo X
path: /precios/
path_en: /pricing/
---

<!--Precios-->

<div class="precios producto-header" id="precios">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h2><b>Pricing</b></h2>
        <h4><b><span class="text-teal">Nimbo X Lite is free for physicians.</span></b></h4>
        <p>If you want to use Nimbo X to fully manage your practice and collaborate with your colleagues you can subscribe to one of our plans for a low monthly fee.</p>
        <hr>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-md-10 col-md-offset-1">
    <!--NimboX Org-->

    <div class="col-md-4 margin-top">
      <div class="box-orange">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1 align-center">
            <span class="text-lightGray">
              <h5><b>ORGANIZATIONS</b></h5>
            </span>
            <br>
            <p class="price-text"><span class="text-orange">
              <span>$150</span>
              <br>
              <sub>AUD</sub></span>
            </p>
            <p id="price-monthly">Annual Subscription per user</p>
            <div class="margin-top"></div>
          </div>
        </div>
      </div>
    </div>

<!--NimboX GOLD-->

    <div class="col-md-4 margin-top">
      <div class="box-purple">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1 align-center">
            <span class="text-lightGray">
              <h5><b>NIMBO X</b></h5>
            </span>
            <br>
            <p class="price-text"><span class="text-purple">
              <span>$80</span>
              <br>
              <sub>AUD</sub>
              </span>
            </p>
            <p id="price-monthly">Annual Subscription</p>
            <div class="margin-top"></div>
          </div>
        </div>
      </div>
    </div>

<!--NimboX-->

    <div class="col-md-4 margin-top">
      <div class="box-blue">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1 align-center">
            <span class="text-lightGray">
              <h5><b>FREE</b></h5>
            </span>
              <br>
            <p class="price-text">
              <span class="text-teal">$0
              <br>
              <sub>AUD</></sub></span>
            </p>
            <p id="price-monthly">Annual Subscription</p>
            <div class="margin-top"></div>
          </div>
        </div>
      </div>
    </div>
        <div class="row margin-top">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered margin-top">
              <tr>
                <td>Health Record</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>50MB of file storage</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>Scheduling</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>Medical prescriptions</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>1GB of file storage</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Unlimited Patients</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Clinical Decision Support</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Vital Sign Graphs</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Metrics Dashboard</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Accounts for Assistants</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Patient Reminders</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Online Appointment booking</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Customize by medical specialty</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>User Administration</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Shared health records inside the organization.</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>     
      </div>
    </div> 
  </div>
</div>

<!--Banner-->

<div class="back-imgblue">  
  <div class="container">
    <div class="row margin-xstop margin-smallbottom">
      <div class="col-md-12 align-center">
        <h3><span class="text-white">Have questions?</span></h3>
        <h4 class="margin-smallbottom"><span class="text-white">Contact us for more information.</span></h4>
        <a class="btn-stroke-white" data-toggle="modal" data-target="#modal-about"href="#">Contact Us</a>
      </div>
    </div>
  </div>
</div>
