---
title: Guias de Uso | Nimbo X
path: /guias/
path_en: /guides/
---

<!--Guias-->

<div class="producto producto-header">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-8 col-md-offset-2 align-center">
        <h1><b>Guia de Uso</b></h1>
      </div>
    </div>
  </div> 
</div>


<div class="guia" id="setup"> 
  <div class="container">  
    <div class="row margin-top margin-bottom">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <h2><span class="text-green">1.0</span></h2>
          </div>
          <div class="col-md-10"><h2><b>Setup de cuenta</b></h2></div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">1.1</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Receta Médica</h3>
            <p>En la sección de Con guración da clic en Receta Médica y podrás hacer la con guración de tu receta, aquí puedes escoger la plantilla que más te guste. Da clic en “Ver ejemplo” para visualizarla.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">1.2</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Cuestionarios</h3>
            <p>En esta sección podrás prender y apagar los Cuestionarios que necesites según tu especialidad. Esto se verá re ejado en los Antecedentes dentro del per l de un Paciente.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">1.3</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Integración con Google Calendar</h3>
            <p>En la sección de Agenda podrás hacer la integración con tu Google Calendar. Haz clic en Agregar y listo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 align-center">
        <img class="margin-top img-product" src="/img/setup1.png">
      </div>
    </div>
  </div>
</div>

<div class="guia back-gray" id="pacientes">
  <div class="container">
    <div class="row margin-top">
      <div class="col-md-12">
      	<div class="row">
     			<div class="col-md-6">
     				<div class="col-md-1 col-md-offset-1">
            	<h2><span class="text-green">2.0 </span></h2>
            </div>
            <div class="col-md-10">
            	<h2><b>Pacientes</b></h2>
            </div>
          </div>
        </div>
        <div class="row margin-mediumtop">
        	<div class="col-md-3">
        		<h3><span class="text-purple">2.1</span> Crear Paciente</h3>
        		<p>Da clic en el botón superior derecho de “Nuevo Paciente”. Este te llevará a la forma para crearlo.</p>
        	</div>
        	<div class="col-md-3">
        		<h3><span class="text-purple">2.2 </span>Editar Paciente</h3>
        		<p>Pon el cursor sobre el paciente que deseas editar y del lado derecho aparecerán 4 botones, da clic en el botón del lápiz.</p>
        	</div>
        	<div class="col-md-3">
        		<h3><span class="text-purple">2.3</span> Borrar Paciente</h3>
        		<p>De la misma manera que editas el paciente ahora da clic en el botón del basurero.</p>
        	</div>
        	<div class="col-md-3">
        		<h3><span class="text-purple">2.4</span> Perfil Paciente</h3>
        		<p>Para ir al per l del paciente puedes dar clic en su nombre, o en el icono de folder.</p>
        	</div>
       	</div>
       	<div class="row">
       		<div class="col-md-12 align-center">
       			<img class="margin-top img-iconfeat" src="/img/pacientes.png">
       		</div>
       	</div>
      </div>
    </div>
  </div>
</div>

<div class="guia" id="perfil"> 
  <div class="container">  
    <div class="row margin-top margin-bottom">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <h2><span class="text-green">3.0</span></h2>
          </div>
          <div class="col-md-10"><h2><b>Perfil Paciente</b></h2></div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">3.1</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Datos generales del paciente</h3>
            <p>En esta sección podrás ver toda la información de tus pacientes e ingresar Notas Internas.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">3.2</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Llenado de antecedentes</h3>
            <p>Da clic a la sección de los antecedentes clínicos que quieres llenar y aparecerá la forma para ingresar la información. Una vez que termines da clic en ‘Cerrar modo edición’ para pasar al modo de lectura.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">3.3</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Consultas</h3>
            <p>Del lado derecho del Perfil del Paciente podrás ver las consultas que ya has completado y las que tienes agendadas. Para iniciar una cita o para ingresar a una completada solo tienes que dar clic en cualquier parte del recuadro.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">3.4</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Signos Vitales</h3>
            <p>Aquí podrás ver los últimos signos vitales que ingresaste del paciente así como las grá cas de evolución.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">3.5</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Archivos</h3>
            <p>Para agregar un archivo simplemente da clic en botón de “Agregar Archivo”.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 align-center">
        <img class="margin-top img-product" src="/img/perfil.png">
      </div>
    </div>
  </div>
</div>

<div class="guia back-gray" id="consulta">
  <div class="container">
    <div class="row margin-top margin-bottom">
      <div class="col-md-12">
      	<div class="row">
     			<div class="col-md-6">
     				<div class="col-md-1 col-md-offset-1">
            	<h2><span class="text-green">4.0 </span></h2>
            </div>
            <div class="col-md-10">
            	<h2><b>Consulta</b></h2>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-10 col-md-offset-1">
        		<p>La consulta está dividida en 3 secciones principales las cuales puedes acceder dando clic en las pestañas o desplazándose hacia abajo en la pantalla: Notas de Padecimiento, Examen Físico, y Diagnóstico y Tratamiento. Adicionalmente podrás acceder y editar el Historial del paciente así como ver el resumen de la consulta del lado derecho. Para ver este resumen simplemente da clic en el botón de echas grises y se abrirá.</p>
        	</div>
        </div>
        <div class="row margin-mediumtop">
        	<div class="col-md-5 col-md-offset-1">
        		<h3><span class="text-purple">4.1</span> Notas de Padecimiento</h3>
        		<p>Aquí podrás llenar los datos de tu paciente con solo seleccionar la caja de texto y empezar a escribir.</p>
        		<div class="col-md-10 col-md-offset-1">
        			<h4><span class="text-purple">4.1.1</span> Signos Vitales</h4>
        		<p>Para ver las gráficas de crecimiento da clic en la fecha del lado derecho y se desplegará la gráfica.</p>
        		</div>
        	</div>
        	<div class="col-md-5">
        		<h3><span class="text-purple">4.2</span> Examen Físico</h3>
        		<p>Para activar los campos de Examen Físico simplemente da clic en el nombre del aparato que necesites utilizar y empieza a escribir en la caja de texto.</p>
        	</div>
       	</div>
				<div class="row">
       		<div class="col-md-12 align-center">
       			<img class="margin-smalltop img-iconfeat" src="/img/consulta.png">
       		</div>
       	</div>
       	<div class="row margin-top">
       		<div class="col-md-5 col-md-offset-1">
       			<h3><span class="text-purple">4.3</span> Diagnóstico y Tratamiento</h3>
        		<p>En la sección de Con guración da clic en Receta Médica y podrás hacer la con guración de tu receta, aquí puedes escoger la plantilla que más te guste. Da clic en “Ver ejemplo” para visualizarla.</p>
        		<div class="col-md-10 col-md-offset-1">
        			<h4><span class="text-purple">4.3.1</span> Diagnósticos</h4>
        			<p>Para buscar un diagnóstico solo empieza a escribir, se desplegará una caja con opciones en base a tu búsqueda en la que podrás seleccionar.</p>
        			<h4 class="margin-mediumtop"><span class="text-purple">4.3.2</span> Estudios de gabinete</h4>
        			<p>De la misma manera que buscas un diagnóstico puedes buscar los estudios de gabinete.</p>
        			<h4 class="margin-mediumtop"><span class="text-purple">4.3.3</span> Medicamentos</h4>
        			<p>De la misma manera que buscas un diagnóstico busca los medicamentos. Si hay interacción entre ellos verás de color rojo, anaranjado o amarillo según la severidad. Si es verde no hay interacción.</p>
        		</div>
       		</div>
       		<div class="col-md-4 col-md-offset-1 align-center">
        		<img class="margin-top img-product" src="/img/consulta1.png">
      		</div>
       	</div>
      </div>
    </div>
  </div>
</div>

<div class="guia" id="agenda"> 
  <div class="container">  
    <div class="row margin-top">
      <div class="col-md-12">
      	<div class="row">
     			<div class="col-md-6">
     				<div class="col-md-1 col-md-offset-1">
            	<h2><span class="text-green">5.0 </span></h2>
            </div>
            <div class="col-md-10">
            	<h2><b>Agenda</b></h2>
            </div>
          </div>
        </div>
        <div class="row margin-medium-top">
        	 <div class="col-md-4">
             <h3><span class="text-purple">5.1 </span>Agendar Consulta</h3>
            <p>El recuadro del lado derecho “Nueva Cita” contiene un formulario que deberás llenar para poder crear la cita. Todos los campos son obligatorios.</p>
          </div>
          <div class="col-md-4">
             <h3><span class="text-purple">5.2</span> Empezar Consulta</h3>
            <p>Dentro del recuadro “Próximas Citas” podrás ver las citas agendadas en tu calendario. Para iniciar la consulta señala con el cursor la cita deseada, de tu lado derecho encontrarás el botón “Empezar”.</p>
          </div>
          <div class="col-md-4">
             <h3><span class="text-purple">5.3</span> Citas Pendientes</h3>
            <p>Para con gurar tu Portal de Solicitud de Citas en Línea es necesario dar clic al enlace “Con gura tu nombre de usuario para recibir solicitudes” o dar clic al ícono de engrane.</p>
          </div>
        </div>
        <div class="row">
       		<div class="col-md-12 align-center">
       			<img class="margin-top img-iconfeat" src="/img/agenda.png">
       		</div>
       	</div>
      </div>
    </div>
  </div>
</div>

<div class="guia back-gray" id="reportes"> 
  <div class="container">  
    <div class="row margin-top margin-bottom">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <h2><span class="text-green">6.0</span></h2>
          </div>
          <div class="col-md-10"><h2><b>Reportes</b></h2></div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">6.1</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Mis Métricas</h3>
            <p>En éste apartado podrás ver grá cas respecto a: tus Pacientes, Medicamentos usados, número de Consultas y Diagnósticos usados. En la esquina derecha encontrarás la opción de “Ver métricas de:” y puedes seleccionar: Últimos 7, 30 o 90 días.</p>
          </div>
        </div>
        <div class="row">
        	 <div class="col-md-1 col-md-offset-2">
             <h3><span class="text-purple">6.2</span></h3>
          </div>
          <div class="col-md-9">
            <h3>Reporte de Consultas</h3>
            <p>En éste apartado podrás ver la hoja diaria de tu consultorio u organización. Puedes elegir ver las métricas de: Hoy, Ayer, últimos 7 días o de acuerdo a una fecha en especí co.En la esquina derecha encontrarás la opción de “Exportar a Excel”, al darle click al botón realizará la descarga de tu hoja diaria.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 align-center">
        <img class="margin-top img-product" src="/img/reportes1.png">
      </div>
    </div>
  </div>
</div>
